{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
<div style="font-size:1.5em; text-align: center; color: lavender">
<h1>Game rules</h1>
  <p>The game is made of a 4x4 square board and of 16 different pieces, each of which has 4 attributes.
        The aim is to line up 4 pieces with the same attribute. The alignment can be horizontal, vertical or diagonal.
        The first player chooses a piece and offer it to his/her opponent. The opponent puts it on the board,
      then selects another piece for the first player to put on the board, and so on...
  </p>
    <p>
        When the correct alignment is set players have to chose Quatro! option to win otherwise opponent can use a chance and win.
        If player has chosen Quatro! but it was mistake, opponent gets extra turn.
    </p>
    <a href="{{ url_for('quatro') }}"><button style="width:150px; height: 80px; font-size:1em;">Go back</button></a>
</div>
{% endblock %}